<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formularz Kredytowy</title>
</head>
<body>

<form method="post" action="/kredyt" th:object="${kredyt}">
    Miesięczne zarobki: <input type="text" th:field="*{zarobki}"> <br/>
    Miesięczne wydatki: <input type="text" th:field="*{wydatki}"> <br/>
    Wnioskowane na miesięcy: <input type="text" th:field="*{miesiace}"><br/>
    Wnioskowana kwota: <input type="text" th:field="*{wnioskowanaKwota}"><br/>
    <input type="submit" value="Sprawdź">
</form>
</body>
</html>